---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/domains?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7ef84955dd797f16eb5b601d2eb91773"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4978'
      Ratelimit-Reset:
      - '1555518586'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"domains":[{"name":"blog.subdomainishostnameorfqdn.com","ttl":1800,"zone_file":"$ORIGIN
        blog.subdomainishostnameorfqdn.com.\n$TTL 1800\nblog.subdomainishostnameorfqdn.com. IN SOA ns1.digitalocean.com.
        hostmaster.blog.subdomainishostnameorfqdn.com. 1555519607 10800 3600 604800 1800\nblog.subdomainishostnameorfqdn.com.
        1800 IN NS ns1.digitalocean.com.\nblog.subdomainishostnameorfqdn.com. 1800 IN NS ns2.digitalocean.com.\n_acme-challenge.blog.subdomainishostnameorfqdn.com.
        1800 IN TXT K5KaxiM0T-zUrFUGSzLq5l0P94nI4FoHabMeBVXgwwM\n"},{"name":"som[...]
