---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/domains?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9aa58481a5095e062a3946c044b68deb"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4984'
      Ratelimit-Reset:
      - '1555518586'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"domains":[{"name":"blog.subdomainishostnameorfqdn.com","ttl":1800,"zone_file":"$ORIGIN
        blog.subdomainishostnameorfqdn.com.\n$TTL 1800\nblog.subdomainishostnameorfqdn.com. IN SOA ns1.digitalocean.com.
        hostmaster.blog.subdomainishostnameorfqdn.com. 1555519210 10800 3600 604800 1800\nblog.subdomainishostnameorfqdn.com.
        1800 IN NS ns1.digitalocean.com.\nblog.subdomainishostnameorfqdn.com. 1800 IN NS ns2.digitalocean.com.\n"},{"name":"somerandomdomain.com","ttl":1800,"zone_file":"$ORIGIN
        somerandomdomain.com.\n$TTL 1800\nsomerandomdomain.com. IN[...]
- request:
    method: get
    uri: https://api.digitalocean.com/v2/domains/blog.subdomainishostnameorfqdn.com/records?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9f0427c355e47f57696c1f67dc695965"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4983'
      Ratelimit-Reset:
      - '1555518586'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"domain_records":[{"id":68980089,"type":"NS","name":"@","data":"ns1.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":68980090,"type":"NS","name":"@","data":"ns2.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}],"links":{},"meta":{"total":2}}'
  recorded_at: Wed, 17 Apr 2019 16:45:43 GMT
- request:
    method: post
    uri: https://api.digitalocean.com/v2/domains/blog.subdomainishostnameorfqdn.com/records
    body:
      encoding: UTF-8
      string: '{"type":"TXT","name":"_acme-challenge","data":"P94nI4FoH-zUrFUGSzLq5l05KKaxiM0TabMeBVXgwwM","priority":null,"port":null,"ttl":null,"weight":null,"flags":null,"tag":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abc
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8065d0ef35bacabbcc7b4d1ae9fd03b3"'
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4982'
      Ratelimit-Reset:
      - '1555518586'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: UTF-8
      string: '{"domain_record":{"id":69359917,"type":"TXT","name":"_acme-challenge","data":"P94nI4FoH-zUrFUGSzLq5l05KKaxiM0TabMeBVXgwwM","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}}'
  recorded_at: Wed, 17 Apr 2019 16:45:43 GMT
recorded_with: VCR 4.0.0
