---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/domains?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1df9f52725829aa7d4588240b5eaeed9"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4985'
      Ratelimit-Reset:
      - '1555511949'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"domains":[{"name":"blog.subdomainishostnameorfqdn.com","ttl":1800,"zone_file":"$ORIGIN
        blog.subdomainishostnameorfqdn.com.\n$TTL 1800\nblog.subdomainishostnameorfqdn.com. IN SOA ns1.digitalocean.com.
        hostmaster.blog.subdomainishostnameorfqdn.com. 1555510779 10800 3600 604800 1800\nblog.subdomainishostnameorfqdn.com.
        1800 IN NS ns1.digitalocean.com.\nblog.subdomainishostnameorfqdn.com. 1800 IN NS ns2.digitalocean.com.\n_acme-challenge.blog.subdomainishostnameorfqdn.com.
        1800 IN TXT P94nI4FoH-zUrFUGSzLq5l05KKaxiM0TabMeBVXgwwM\n"},{"name":"som[...]
- request:
    method: get
    uri: https://api.digitalocean.com/v2/domains/apex.com/records?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b1b18bf9fe783ed386547563d81897f8"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4984'
      Ratelimit-Reset:
      - '1555511949'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"domain_records":[{"id":69235131,"type":"NS","name":"@","data":"ns1.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":69235132,"type":"NS","name":"@","data":"ns2.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":69235133,"type":"NS","name":"@","data":"ns3.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":69235214,"type":"CNAME","name":"www","data":"@","priority":null,"port":null,"ttl":120,"weight":null,"flags":null,"tag":null},{"id":69235448,"type":"A","name":"@","data":"134.209.87.35","priority":null,"port":null,"ttl":120,"weight":null,"flags":null,"tag":null}],"links":{},"meta":{"total":5}}'
  recorded_at: Wed, 17 Apr 2019 15:37:49 GMT
- request:
    method: post
    uri: https://api.digitalocean.com/v2/domains/apex.com/records
    body:
      encoding: UTF-8
      string: '{"type":"TXT","name":"_acme-challenge","data":"P94nI4FoH-zUrFUGSzLq5l05KKaxiM0TabMeBVXgwwM","priority":null,"port":null,"ttl":null,"weight":null,"flags":null,"tag":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abc
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3115ab81ecd1310d2d4a9140d2827944"'
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4983'
      Ratelimit-Reset:
      - '1555511949'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: UTF-8
      string: '{"domain_record":{"id":69356066,"type":"TXT","name":"_acme-challenge","data":"P94nI4FoH-zUrFUGSzLq5l05KKaxiM0TabMeBVXgwwM","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}}'
  recorded_at: Wed, 17 Apr 2019 15:37:49 GMT
recorded_with: VCR 4.0.0
