---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/domains?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9171031fa6dce3c067212b158b2cc7c9"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4981'
      Ratelimit-Reset:
      - '1555515468'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"domains":[{"name":"blog.subdomainishostnameorfqdn.com","ttl":1800,"zone_file":"$ORIGIN
        blog.subdomainishostnameorfqdn.com.\n$TTL 1800\nblog.subdomainishostnameorfqdn.com. IN SOA ns1.digitalocean.com.
        hostmaster.blog.subdomainishostnameorfqdn.com. 1555510779 10800 3600 604800 1800\nblog.subdomainishostnameorfqdn.com.
        1800 IN NS ns1.digitalocean.com.\nblog.subdomainishostnameorfqdn.com. 1800 IN NS ns2.digitalocean.com.\n_acme-challenge.blog.subdomainishostnameorfqdn.com.
        1800 IN TXT P94nI4FoH-zUrFUGSzLq5l05KKaxiM0TabMeBVXgwwM\n"},{"name":"som[...]
- request:
    method: get
    uri: https://api.digitalocean.com/v2/domains/subdomainishostnameorfqdn.com/records?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e0dfe7709bfece06910f5539c519cd9b"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4980'
      Ratelimit-Reset:
      - '1555515468'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"domain_records":[{"id":68924653,"type":"NS","name":"@","data":"ns1.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":68924654,"type":"NS","name":"@","data":"ns2.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":68924655,"type":"NS","name":"@","data":"ns3.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":69305267,"type":"A","name":"www","data":"134.209.87.35","priority":null,"port":null,"ttl":3600,"weight":null,"flags":null,"tag":null},{"id":69305275,"type":"A","name":"@","data":"134.209.87.35","priority":null,"port":null,"ttl":3600,"weight":null,"flags":null,"tag":null},{"id":69359419,"type":"TXT","name":"_acme-challenge","data":"P94nI4FoH-zUrFUGSzLq5l05KKaxiM0TabMeBVXgwwM","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}],"links":{},"meta":{"total":6}}'
  recorded_at: Wed, 17 Apr 2019 16:37:42 GMT
- request:
    method: put
    uri: https://api.digitalocean.com/v2/domains/subdomainishostnameorfqdn.com/records/69359419
    body:
      encoding: UTF-8
      string: '{"type":"TXT","name":"_acme-challenge","data":"K5KaxiM0T-zUrFUGSzLq5l0P94nI4FoHabMeBVXgwwM","priority":null,"port":null,"ttl":null,"weight":null,"flags":null,"tag":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6b61a355ededb12104e1be2f972fb197"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4982'
      Ratelimit-Reset:
      - '1555515547'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"domain_record":{"id":69359419,"type":"TXT","name":"_acme-challenge","data":"K5KaxiM0T-zUrFUGSzLq5l0P94nI4FoHabMeBVXgwwM","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}}'
  recorded_at: Wed, 17 Apr 2019 16:38:47 GMT
recorded_with: VCR 4.0.0
