---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/domains?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e66e9d445ee1218736f4bf304b3fe73"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4982'
      Ratelimit-Reset:
      - '1555511949'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"domains":[{"name":"blog.subdomainishostnameorfqdn.com","ttl":1800,"zone_file":"$ORIGIN
        blog.subdomainishostnameorfqdn.com.\n$TTL 1800\nblog.subdomainishostnameorfqdn.com. IN SOA ns1.digitalocean.com.
        hostmaster.blog.subdomainishostnameorfqdn.com. 1555510779 10800 3600 604800 1800\nblog.subdomainishostnameorfqdn.com.
        1800 IN NS ns1.digitalocean.com.\nblog.subdomainishostnameorfqdn.com. 1800 IN NS ns2.digitalocean.com.\n_acme-challenge.blog.subdomainishostnameorfqdn.com.
        1800 IN TXT P94nI4FoH-zUrFUGSzLq5l05KKaxiM0TabMeBVXgwwM\n"},{"name":"som[...]
- request:
    method: get
    uri: https://api.digitalocean.com/v2/domains/txtrecordexists.com/records?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b7e9ad6eaa5b8979067c246403374dec"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4981'
      Ratelimit-Reset:
      - '1555511949'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"domain_records":[{"id":64523500,"type":"NS","name":"@","data":"ns1.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":64523501,"type":"NS","name":"@","data":"ns2.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":64523502,"type":"NS","name":"@","data":"ns3.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":64523503,"type":"TXT","name":"_acme-challenge","data":"P94nI4FoH-zUrFUGSzLq5l05KKaxiM0TabMeBVXgwwM","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":64523788,"type":"CAA","name":"@","data":"letsencrypt.com","priority":null,"port":null,"ttl":3600,"weight":null,"flags":0,"tag":"issue"},{"id":68799927,"type":"A","name":"@","data":"134.209.87.35","priority":null,"port":null,"ttl":3600,"weight":null,"flags":null,"tag":null}],"links":{},"meta":{"total":6}}'
  recorded_at: Wed, 17 Apr 2019 15:39:07 GMT
- request:
    method: put
    uri: https://api.digitalocean.com/v2/domains/txtrecordexists.com/records/64523503
    body:
      encoding: UTF-8
      string: '{"type":"TXT","name":"_acme-challenge","data":"K5KaxiM0T-zUrFUGSzLq5l0P94nI4FoHabMeBVXgwwM","priority":null,"port":null,"ttl":null,"weight":null,"flags":null,"tag":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e413e4197cc039a9bf0a08eae6004e98"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4980'
      Ratelimit-Reset:
      - '1555511949'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"domain_record":{"id":64523503,"type":"TXT","name":"_acme-challenge","data":"K5KaxiM0T-zUrFUGSzLq5l0P94nI4FoHabMeBVXgwwM","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}}'
  recorded_at: Wed, 17 Apr 2019 15:39:08 GMT
recorded_with: VCR 4.0.0
