---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/domains?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"621e1a4651033b964aa5852b83a9481a"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4990'
      Ratelimit-Reset:
      - '1555515468'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"domains":[{"name":"blog.subdomainishostnameorfqdn.com","ttl":1800,"zone_file":"$ORIGIN
        blog.subdomainishostnameorfqdn.com.\n$TTL 1800\nblog.subdomainishostnameorfqdn.com. IN SOA ns1.digitalocean.com.
        hostmaster.blog.subdomainishostnameorfqdn.com. 1555510779 10800 3600 604800 1800\nblog.subdomainishostnameorfqdn.com.
        1800 IN NS ns1.digitalocean.com.\nblog.subdomainishostnameorfqdn.com. 1800 IN NS ns2.digitalocean.com.\n_acme-challenge.blog.subdomainishostnameorfqdn.com.
        1800 IN TXT P94nI4FoH-zUrFUGSzLq5l05KKaxiM0TabMeBVXgwwM\n"},{"name":"som[...]
- request:
    method: get
    uri: https://api.digitalocean.com/v2/domains/apex.com/records?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bd2334adf394a72b24ff1444d70c1c34"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4989'
      Ratelimit-Reset:
      - '1555515468'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"domain_records":[{"id":69235131,"type":"NS","name":"@","data":"ns1.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":69235132,"type":"NS","name":"@","data":"ns2.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":69235133,"type":"NS","name":"@","data":"ns3.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":69235214,"type":"CNAME","name":"www","data":"@","priority":null,"port":null,"ttl":120,"weight":null,"flags":null,"tag":null},{"id":69235448,"type":"A","name":"@","data":"134.209.87.35","priority":null,"port":null,"ttl":120,"weight":null,"flags":null,"tag":null},{"id":69358909,"type":"TXT","name":"_acme-challenge","data":"P94nI4FoH-zUrFUGSzLq5l05KKaxiM0TabMeBVXgwwM","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}],"links":{},"meta":{"total":6}}'
  recorded_at: Wed, 17 Apr 2019 16:29:47 GMT
- request:
    method: put
    uri: https://api.digitalocean.com/v2/domains/apex.com/records/69358909
    body:
      encoding: UTF-8
      string: '{"type":"TXT","name":"_acme-challenge","data":"K5KaxiM0T-zUrFUGSzLq5l0P94nI4FoHabMeBVXgwwM","priority":null,"port":null,"ttl":null,"weight":null,"flags":null,"tag":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e15727a623efbdd3fb60ef6d53de323a"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4988'
      Ratelimit-Reset:
      - '1555515468'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"domain_record":{"id":69358909,"type":"TXT","name":"_acme-challenge","data":"K5KaxiM0T-zUrFUGSzLq5l0P94nI4FoHabMeBVXgwwM","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}}'
  recorded_at: Wed, 17 Apr 2019 16:29:48 GMT
recorded_with: VCR 4.0.0
